<div id="container-fluid">

<header class="hero">
  

    <img src="../../../assets/images/cp2.jpg" height="1000px" width="1600px" >

</header>
</div>
<footer class="text-center text-white" style="background-color: #aeabab;">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Iframe -->
      <section class="">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6">
            <div class="ratio ratio-16x9">
                <iframe width="885" height="498" src="https://www.youtube.com/embed/_4cpmKMWKss?&autoplay=1 &loop=1 &controls=0" title="Cancer: growth &amp; spread" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Iframe -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(6, 6, 6, 0.2);">
      © 2023 Cancer Society
      <p>Devolped By: Ben Varghese Eapen, Chandini P</p>
    </div>
    <!-- Copyright -->
  </footer>